/.vscode
/accoutn.txt
/consumo.csv
/dati.csv
/DatiConsumo (3).py
/datiSinteticiConsumo.py
/datiSinteticiProduzione.py
/dispositivi.py
/grafici.py
/mongodati.py
/package-lock.json
/produzione.csv
/produzione2.csv
/prova.py
/Timeseries_38.184_15.539_SA2_10kWp_crystSi_14_32deg_-20deg_2020_2020.csv